


.navbar{
    
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: white;
    box-shadow: 2px 5px 8px #888888;
    padding: 0% 2%;
}

.brand-name{
    flex-grow: 13;
    text-align: left;
    font-size: 7vw;
    font-weight: 800;
    position: relative;
    z-index: 3000;
    text-decoration: none;
    color: black;
}

.search-icon, .location-icon, .profile-icon, .settings-icon, .men-icon, .women-icon, .kids-icon, .orders-icon{
    width: 6%;
    height: 6%;  
}

.user-icon, .settings-icon, .men-icon, .women-icon, .kids-icon, .orders-icon{
    width: 10%;
    height: 10%;
}

.hamburger-menu{
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* border: 2px solid black; */
    /* border-radius: 7px; */
    padding: 7px;
    position: relative;
    z-index: 2000;
}

.hamburger-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    
}

.hamburger-menu div{
    background-color: black;
    width: 30px;
    height: 4px;
    border-radius: 32px;
}

.hamburger-wrapper{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 50vw;
    z-index: 1000;
    background-color: white;
    padding: 19% 4%;
    /* display: none; */
}

.categories, .search-textbox{
    display: none;
}

.active{
    display: none !important;
}

@media (min-width: 1024px) {
    .navbar{
        padding: 0% 5% 0% 5%;
        height: 13vh;
        position: relative;
        z-index: 10000;
    }

    .brand-name{
        font-size: 2.5vw;
        padding-right: 50px;
        flex-grow: 11;
    }

    .categories{
        display: flex;
        flex-direction: row;
        flex-grow: 7;
    }
    
    .category-item{
        padding: 0% 5%;
    }

    .men-heading-container, .women-heading-container, .kids-heading-container, .lifestyle-heading-container{
        padding: 7% 5%;
    }

    .men-wrapper, .women-wrapper, .kids-wrapper, .lifestyle-wrapper{
        background-color: white;
        /* box-shadow: 2px 5px 8px #637ae0; */
        display: none;
        position: absolute;
        top: 100%;
        left: 10%;
        width: 40%;
        padding: 0% 2%;
        z-index: 100;         
    }

    .men-heading-container:hover + .men-wrapper, .women-heading-container:hover + .women-wrapper, .kids-heading-container:hover + .kids-wrapper, .lifestyle-heading-container:hover + .lifestyle-wrapper, .men-wrapper:hover, .women-wrapper:hover, .kids-wrapper:hover, .lifestyle-wrapper:hover{
        display: grid;
        grid-template-columns: auto auto;
    }
    
    .men-sub-category-heading{
        color: #637ae0;
    }

    .women-sub-category-heading{
        color: #ff3b3b;
    }

    .kids-sub-category-heading{
        color: orange;
    }

    .lifestyle-sub-category-heading{
        color: #0db7af;
    }

    .sub-category-links:hover{
        font-weight: 600;
    }

    .search-textbox{
        width: 30%;
        padding: 0.75%;
        border: 1px solid #ededed;
        outline: none;
        display: initial;
    }

    .search-icon-container, .location-icon-container, .profile-icon-container{
        display: flex;
        flex-direction: column;
        width: 2%;
        padding: 50px 20px 50px 20px;
        position: relative;
    }

    .search-icon, .location-icon, .profile-icon, .settings-icon, .men-icon, .women-icon, .kids-icon, .orders-icon{
        width: 100%;
        height: 100%;  
    }

    .profile-wrapper{
        position: absolute;
        background-color: white;
        width: 20%; 
        padding: 0% 2%;
        z-index: 10000;
        right: 5%;
        top: 100%;
        display: none;
        box-shadow: 2px 5px 8px #888888;
    }

    .profile-icon-container:hover + .profile-wrapper{
        display: block;
    }
    
    .profile-wrapper:hover{
        display: block;
    }

    .login-register-button{
        background-color: #f4555d;
        border: none;
        border-radius: 32px;
        padding: 10px 40px;
        width: 100%;
        color: white;
        font-size: 1vw;
        font-weight: 500;
        margin-bottom: 4%;
    }

    .hamburger-menu{
        display: none;
    }  
}   